<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="csv-to-m$-ofx.ZPM">
    <Module>
      <Name>csv-to-m$-ofx</Name>
      <Version>0.0.1</Version>
      <Description>Collect CSV from your bank and transform it to OFX format (by M$)</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="rcc.MONEY.PKG"/>
      <Resource Name="rcc.MONEY.CLS"/>
    </Module>
  </Document>
</Export>
